nav {
    background-color: rgb(153, 153, 153);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 140px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 30px;

}

.links {
    text-decoration: none;
    font-size: large;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 7px;
    transition: 0.5s;
}

.links:hover {
    border-radius: 16px;
    background-color: orange;
    box-shadow: 2px 2px 2px 2px black;
}